
body{margin: 0px; padding: 0px;}

header{ width: 100%;background: #fff; height: 30px; margin-top: 10px; display: flex; justify-content: space-around; align-items: center;}

#main{margin: auto; width: 90%; }

header a{text-decoration: none; color: black;}
 
header a:hover{color: #4488ff;}

hr{width: 95%;}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}